.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.welcome-text {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(315deg, #42d392 25%, #646cff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logout-btn {
  background-color: #ef4444;
  color: white;
}

.logout-btn:hover {
  background-color: #dc2626;
  border-color: #ef4444;
}